.donationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .donationHeader {
    flex-direction: column;
    align-items: flex-center;
    gap: 12px;
  }
}
