.IDInput {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s;
}

.IDInput:focus {
  border: 0;
  box-shadow: 0 0 0 1px rgba(24, 144, 255, 0.2);
}
