.authFormContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  background: linear-gradient(135deg, #c62828 0%, #8e24aa 100%);
}

.backHomeBtn {
  position: absolute;
  top: 30px;
  left: 40px;
}

.authFormCard {
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@media (max-width: 768px) {
  .backHomeBtn {
    top: 10px;
    left: 1px;
  }
}
